div {
    width: 400px;
    border: 1px solid grey;
    margin: auto;
    box-shadow: 1px 1px grey;
    padding: 10px 0 30px 20px;
}
p, form {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 1.3em;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
}
input[type=submit]#bt1 {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: teal;
    color: white;
}
input[type=button]#bt2 {
    width: 140px;
    height: 30px;
    border-radius: 3px;
    background-color: darkslategray;
    color: white;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-left: -37px;
}

.taskItem{
    width: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    border: 1px solid #EEE;
}

.deleteTask{
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color: orange;
}

.deleteTask:hover {
    background-color: lightgrey;
    border-radius: 2px;
}

